@import url("//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css"); /*@import url("reset.css");*/
@import url("pygment.css");
@import url("typogrify.css");
@import url(http://fonts.googleapis.com/css?family=Cardo:400italic,400,700);


/* Body */
body {
    background: #FDF6E3;
    color: #202020;
    font-size: 18px;
    font-family: 'Cardo', 'Trebuchet MS', Trebuchet, serif;
    line-height: 26px;
    text-align: left;
    padding-top:60px;
}

.highlight{
    border-style: solid;
    border-width: 7px;
    border-image: url(../images/border.png) 34 31 35 repeat;
    background-color:#f1f1e8;
    padding-left:3px;
    padding-right:3px;
    margin-bottom: 24px;
    font-size:15px;
    font-style:normal;
    font-weight:normal;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}

/* Headings */
h1 {font-size: 2em }
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-style: normal;
    font-family: 'Cardo', serif;
    margin-bottom: 0.8em;
}


hr { border: 1px dotted #8A887B; }

/* Anchors */
a {
    outline: 0;
    text-decoration: underline;
    font-style: italic;
}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
    color: inherit;
    padding: 0 1px;
}
a:hover, a:active {
    /*border-bottom: 1px solid black;*/
}

h1 a:hover {
    background-color: inherit
}

.entry-content a {
/* Hack to get google fonts cardo underline bug on OSX firefox working 
    border-bottom: 1px solid black;
    padding-bottom: 8px;
 */
    font-style: italic;
}

/* Paragraphs */
p {margin-bottom: 1.5em;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

/* Lists */
ul {
    list-style: outside disc;
    margin: 1em 0 1.5em 1.5em;
}

ol {
    list-style: outside decimal;
    margin: 1em 0 1.5em 1.5em;
}

.post-info {
    font-variant: small-caps;
    font-style: italic;
    font-size: 16px;
}

.post-info p{
    margin-bottom: 1px;
}

.readmore { float: right }

dl {text-align:center}
dt {font-weight: bold; font-size: 0.8em; font-variant: small-caps;}
dd {margin-bottom: 1.0em;}
dd:after{
    content: "❀";
    color: brown;
    display:block;
    font-size: 1.1em;
}
dd:last-child:after
{
  content: '';
}


pre{padding: 10px; overflow: auto;}

/* Quotes */
blockquote {
    margin: 20px;
    font-style: italic;
}
cite {}

q {}

div.note {
    float: right;
    margin: 5px;
    font-size: 85%;
    max-width: 300px;
}

/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}

/* Thead */
thead th {padding: .5em .4em; text-align: left;}
thead td {}

/* Tbody */
tbody td {padding: .5em .4em;}
tbody th {}

tbody .alt td {}
tbody .alt th {}

/* Tfoot */
tfoot th {}
tfoot td {}

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
    display: block;
}

/***** Layout *****/
.body {clear: both; margin: 0 auto; width: 100%; min-width:320px;}
img.right, figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: left; margin: 0 2em 2em 0;}
article img,canvas,iframe {
    width: 80%;
    clear: both; margin: 0 auto;
    display: block;
    border-style: solid;
    border-width: 12px;
    border-image: url(../images/border.png) 54 51 55 52 repeat;
    /* box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.53);*/
}
article .caption {
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}

article .figure {
    margin-top: 45px;
    margin-bottom: 45px;
}

/********* Banner and Nav *********/

#banner {
    margin: 0 auto;
    padding: 2.5em 0 2.5em 0;
}

#banner h1 {font-size: 51px; line-height: 0;}
#banner h1 a:link, #banner h1 a:visited {
    display: block;
    margin: 0 0 .4em .2em;
    color: #383732;
    text-align:center;
    font-weight: normal;
    text-decoration: none;
    font-style:normal
}

#banner nav {
    margin-top: 40px;
    background:transparent;
    width: 460px;
    text-align: center;
    font-style:italic;
}

#banner nav ul {list-style: none; margin: 0 auto; width: 460px;}
#banner nav li {float: left; display: inline; margin: 0;}

#banner nav a:link, #banner nav a:visited {
    display: inline-block;
    /*height: 30px;*/
    padding: 5px;
    text-decoration: none;
    color: #8A887B;
}
#banner nav a:hover, #banner nav a:active,
#banner nav .active a:link, #banner nav .active a:visited {
    text-decoration:underline;
}

/* Featured *****************/
#featured {
    background: transparent;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 20px 20px;
    width: 460px;
}

#featured figure {
    border: 2px solid #eee;
    float: right;
    margin: 0.786em 2em 0 5em;
    width: 248px;
}
#featured figure img {display: block; float: right;}

#featured h2 {color: inherit; font-size: 1.714em; margin-bottom: 0.333em;}
#featured h3 {font-size: 1.429em; margin-bottom: .5em;}

#featured h3 a:link, #featured h3 a:visited {color: #000305; text-decoration: none;}
#featured h3 a:hover, #featured h3 a:active {color: #fff;}

/*****  body **************/
#content {
    background: transparent;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 20px 20px;
    width: 460px;
}

/* Drop cap */
.entry-content > p:nth-of-type(1):first-letter,
.section > p:nth-of-type(1):first-letter
{
    color:brown;
    float: left;
    margin: 5px 5px 0 0;
    font-variant: small-caps;
    display: block;
    font-size: 58px;
}

/* Paragraph-end fleuron */
.entry-content > p:hover:after,
.section > p:hover:after
{
    content: "❧";
    display: inline-block;
    padding-left: 3px;
    font-size: 1.2em;
    color: brown;
    line-height: 1em; /* Makes the lines not wiggle on hover */
    position: absolute;
    margin-top: 3.7px;
}

.entry-content > p,
.section > p,
{
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
text-align: justify;
}

/*
Extras
 *****************/
#extras {margin: 5em auto 3em auto; overflow: hidden; width: 460px;}

#extras ul {list-style: none; margin: 0;}
#extras li {border-bottom: 1px solid #fff;}
#extras h2 {
    font-size: 1.429em;
    margin-bottom: .45em;
    padding: 0 3px;
}

#extras a:link, #extras a:visited {
    display: block;
    padding: .3em .25em;
}


/* Blogroll */
#extras .blogroll {
    float: left;
    width: 200px;
}

#extras .blogroll li {float: left; margin: 0 20px 0 0; width: 185px;}

/* Social */
#extras .social {
    float: right;
    width: 175px;
}

#extras div[class='social'] a {
    background-repeat: no-repeat;
    background-position: 3px 6px;
    padding-left: 25px;
}

/* Icons */
.social a[href*='delicious.com'] {background-image: url('../images/icons/delicious.png');}
.social a[href*='digg.com'] {background-image: url('../images/icons/digg.png');}
.social a[href*='facebook.com'] {background-image: url('../images/icons/facebook.png');}
.social a[href*='last.fm'], .social a[href*='lastfm.'] {background-image: url('../images/icons/lastfm.png');}
.social a[type$='atom+xml'], .social a[type$='rss+xml'] {background-image: url('../images/icons/rss.png');}
.social a[href*='twitter.com'] {background-image: url('../images/icons/twitter.png');}
.social a[href*='linkedin.com'] {background-image: url('../images/icons/linkedin.png');}
.social a[href*='gitorious.org'] {background-image: url('../images/icons/gitorious.org');}

/*
About
 *****************/
#about {
    background: transparent;
    font-style: italic;
    font-size: 11px;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    width: 460px;
}

#about .primary {float: left; width: 165px;}
#about .primary strong {color: #C64350; display: block; font-size: 1.286em;}
#about .photo {float: left; margin: 5px 20px;}

#about .url:link, #about .url:visited {text-decoration: none;}

#about .bio {float: right; width: 500px;}

/*
Footer
 *****************/
#contentinfo {padding-bottom: 2em; text-align: right;}

/***** Sections *****/
/* Blog TODO: REMOVE */
.hentry {
    display: block;
    clear: both;
    /*border-bottom: 1px solid #eee;*/
}
li:last-child .hentry, #content > .hentry {border: 0; margin: 0;}
#content > .hentry {padding: 1em 0;}
.hentry img{display : none ;}
.entry-title {
    display:inline-block;
    margin-bottom: 25px;
    text-align:center;
    font-size: 22px;
    font-style:italic;
    font-variant: small-caps;
    width: 82%;
}

.entry-title a:link, .entry-title a:visited {text-decoration: none;}
.entry-title a:visited {background-color: #fff;}
article header:before, article header:after {
    content: "❀";
    font-size: 1.0em;
    font-style:italic;
    font-weight:normal;
    color: brown;
    margin: 0 0.5em;
}

article header{
    margin-bottom: 1em;
}

/* TODO: fix fleuron display on multiline titles:
http://coding.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/
display: block;
article header:before{float:left;}
article header:after{float:right;}
*/

.hentry .post-info * {font-style: normal;}

/* Content */
.hentry footer {margin-bottom: 2em;}
.hentry footer address {display: inline;}
#posts-list footer address {display: block;}

/* Blog Index */
#posts-list {list-style: none; margin: 0;}
#posts-list .hentry {padding-left: 10px; position: relative;}

#posts-list footer {
    left: 10px;
    position: relative;
    float: left;
    top: 0.5em;
    width: 190px;
}

/* About the Author */
#about-author {
    background: #f9f9f9;
    clear: both;
    font-style: normal;
    margin: 2em 0;
    padding: 10px 20px 15px 20px;
}

#about-author strong {
    color: #C64350;
    clear: both;
    display: block;
    font-size: 1.429em;
}

#about-author .photo {border: 1px solid #ddd; float: left; margin: 5px 1em 0 0;}

/* Comments */
#comments-list {list-style: none; margin: 0 1em;}
#comments-list blockquote {
    background: #f8f8f8;
    clear: both;
    font-style: normal;
    margin: 0;
    padding: 15px 20px;
}
#comments-list footer {color: #888; padding: .5em 1em 0 0; text-align: right;}

#comments-list li:nth-child(2n) blockquote {background: #F5f5f5;}

/* Add a Comment */
#add-comment label {clear: left; float: left; text-align: left; width: 150px;}
#add-comment input[type='text'],
#add-comment input[type='email'],
#add-comment input[type='url'] {float: left; width: 200px;}

#add-comment textarea {float: left; height: 150px; width: 495px;}

#add-comment p.req {clear: both; margin: 0 .5em 1em 0; text-align: right;}

#add-comment input[type='submit'] {float: right; margin: 0 .5em;}
#add-comment * {margin-bottom: .5em;}

#tagline {
    text-align:center;
    font-style:italic;
    padding:0px;
    margin:0px;
}
